---
interface Props {
    imgSrc: string;
    title: string;
    creator: string;
    currentBid: string;
}

const { imgSrc, title, creator, currentBid } = Astro.props;
---

<div
    class="p-3 bg-backgroundCard rounded-3xl text-white border-2 border-borderColor"
>
    <img src={imgSrc} alt={title} />
    <div class="information mt-7 mb-2 mx-2 flex flex-col gap-5">
        <div>
            <h3 class="font-semibold text-2xl">{title}</h3>
            <p class="text-sm">by {creator}</p>
        </div>
        <div class="flex items-end justify-between">
            <div class="currentBid">
                <p class="text-base">Current Bid</p>
                <div class="flex items-center gap-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#FFF200"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-chevrons-up-down-icon lucide-chevrons-up-down"
                        ><path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"
                        ></path></svg
                    >
                    <p class="font-semibold text-base">{currentBid} ETH</p>
                </div>
            </div>

            <button class="py-4 px-12 bg-blue rounded-xl text-sm font-semibold"
                >Place Bid</button
            >
        </div>
    </div>
</div>
