---
const { imgSrc, title, creator, currentBid } = Astro.props;
---

<div class="w-80 rounded-2xl bg-backgroundCard border-2 border-borderColor">
    <div class="p-2 h-full">
        <!-- Image -->
        <img
            src={imgSrc}
            alt={title}
            class="w-full h-80 object-cover rounded-lg"
        />

        <!-- Content -->
        <div class="p-4 flex flex-col gap-y-5">
            <div>
                <h3 class="font-semibold text-lg text-white">{title}</h3>
                <p class="text-white font-normal text-sm">By {creator}</p>
            </div>

            <!-- Bid Information -->
            <div class="flex justify-between items-end">
                <div>
                    <p class="text-white text-xs">Current Bid</p>
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#FFF200"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-chevrons-up-down-icon lucide-chevrons-up-down"
                            ><path d="m7 15 5 5 5-5"></path><path
                                d="m7 9 5-5 5 5"></path></svg
                        >
                        <p class="font-medium text-base text-white">
                            {currentBid} ETH
                        </p>
                    </div>
                </div>
                <button class="py-3 px-12 bg-blue rounded-lg text-white text-xs"
                    >Place Bid</button
                >
            </div>
        </div>
    </div>
</div>
